<launch>
   <master auto="start"/>
   <param name="/use_sim_time" value="true"/>
   <!--include file="$(find my_navigation)/config/move_base.xml"/-->
   <include file="$(find cirkit_unit03_move_base)/launch/move_base.launch"/>
   <node name="map_server" pkg="map_server" type="map_server" args="$(find my_navigation)/map/robocon.yaml" respawn="false" />
   <node pkg="stage_ros" type="stageros" name="stageros" 
          args="$(find stage_ros)/world/robocon.world" respawn="false" >
    　　　<param name="base_watchdog_timeout" value="0.2"/>
   </node>
   <include file="$(find my_navigation)/config/amcl_node.xml"/>  
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_navigation)/single_robot.rviz" />
  <node name="robocon_goals" pkg="robocon_goals" type="robocon_goals"/>
  <node name="robocon_init_pose" pkg="robocon_init_pose" type="robocon_init_pose"/>
</launch>
